<template name="EditVote">
  <h1>Edit Vote</h1>
  
    {{#autoForm collection="Votes" doc=this id="editVoteForm" type="update"}}
    <fieldset>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3"> 
      <div class="form-group">
        <div class="row">
          <div class="col-xs-4">
            <label for="name">Team Score</label>
            {{> afFieldInput name='team_score'}}
          </div>
          <div class="col-xs-4">
            <label for="name">Opportunity Score</label>
            {{> afFieldInput name='opportunity_score'}}
          </div>
          <div class="col-xs-4">
            <label for="name">Presentation Score</label>
            {{> afFieldInput name='presentation_score'}}
          </div>
        </div>
       </div>
       <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label for="name">Fair Valuation</label>
            {{> afFieldInput name='fair_valuation'}}
          </div>
          <div class="col-xs-6">
            <label for="name">Reach Valuation</label>
            {{> afFieldInput name='reach_valuation'}}
          </div>
        </div>
       </div>
      <div class="form-group">
        {{> afQuickField name='concerns'}}
      </div>
      <div class="form-group">
        {{> afQuickField name='comments' rows=6}}
      </div>
      <div class="form-group">
        <label for="name">Deal Score</label>
        {{> afFieldInput name='deal_score'}}
      </div>
      <div class="form-group">
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
    </div>
    </div>
    </fieldset>
    {{/autoForm}}

</template>
